body{
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:lightgray;
}

.keyboard-body{
  margin-top: 50px;
  width: 900px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: black;
}

.keyboard{
  width: 97%;
  height: 97%;
  display: flex;
  flex-direction: row;
}

.keys{
  transition: box-shadow .3s;
  margin-right: 3px;
  height: 100%;
  width: calc(100% / 10);
  border: 1px solid #ccc;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.keys:focus{
  outline: none;
}
.keyPressed{
  margin-right: 3px;
  height: 100%;
  width: calc(100% / 10);
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 50px lightblue; 
  outline: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media(max-width: 600px){
  .keyboard-body{
    margin-top: 400px;
    transform: rotate(90deg);
  }
}