body{
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:whitesmoke;
}

.keyboard{
  margin-top: 50px;
  width: 900px;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.keys{
  transition: box-shadow .3s;
  margin-right: 3px;
  height: 100%;
  width: calc(100% / 10);
  border: 1px solid #ccc;
  background-color: white;
}
.keys:focus{
  outline: none;
}
.keyPressed{
  margin-right: 3px;
  height: 100%;
  width: calc(100% / 9);
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
  outline: none;
}

@media(max-width: 600px){
  .keyboard{
    margin-top: 400px;
    transform: rotate(90deg);
  }
}